@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-transition {
  transform: scale(1);
  transition-property: all;
  transition-duration: 500ms;
  transition-delay: 100ms;
}

.custom-transition:hover {
  transform: scale(1.05);
}